# Github respository: meteorite-landings

Three hundred and forty-three active DCA are defined
to date, containing a total of 67,222 meteorites. The
average number of meteorites per DCA is 196 meteorites.
The median number of meteorites per DCA is four only,
reflecting a very uneven distribution of meteorites among
DCA. Only 37 DCA contain more than 100 meteorites,
and the 23 most populated DCA (most of them in
Antarctica) contain 90% of the total DCA meteorites. A
full list of all approved DCAs, with maps, can be found at
https://www.lpi.usra.edu/meteor/DenseAreas.php.

In [224]:
REFRESH_DATA = False

import numpy as np
import pandas as pd
import datetime
import os

if REFRESH_DATA:
    # pip install python-dotenv
    # pip install sodapy
    from dotenv import load_dotenv
    from sodapy import Socrata

In [225]:
if REFRESH_DATA:

    # Load .env file using:
    load_dotenv()

    # Use the variable with:
    APP_TOKEN = os.getenv("APP_TOKEN")

    # Unauthenticated client only works with public data sets. Note 'None'
    # in place of application token, and no username or password:
    # client = Socrata("data.nasa.gov", None)

    # Example authenticated client (needed for non-public datasets):
    client = Socrata("data.nasa.gov", APP_TOKEN)

    # Page through results, returned as JSON from API / converted to Python list of
    # dictionaries by sodapy.  This should get all entries (45,716 as of 2021-11-14)
    query_offset = 0
    query_limit = 2000
    query_active = True
    df_pages = []

    while query_active:          
        results = client.get("gh4g-9sfh", limit=query_limit, offset=query_offset)
        results_df = pd.DataFrame.from_records(results)
        df_pages.append(results_df)
        if len(results_df) < query_limit:
            query_active = False
        else:
            query_offset += query_limit

    # Convert to pandas DataFrame
    book_df = pd.concat(df_pages, ignore_index=True)

    # Convert to CSV file
    book_df.to_csv('meteorite-landings.csv')

### Data Loading and Cleaning

#### Load CSVs
Load the data from the csv files and run a quick review of the data for validity checks

In [226]:
metorite_data = pd.read_csv('meteorite-landings.csv', index_col=0)
metorite_data.head(15)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'latitude': '50.775', 'longitude': '6.08333'}",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'latitude': '56.18333', 'longitude': '10.23333'}",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'latitude': '54.21667', 'longitude': '-113.0'}",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'latitude': '16.88333', 'longitude': '-99.9'}",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",NaN,NaN
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919-01-01T00:00:00.000,32.10000,71.80000,"{'latitude': '32.1', 'longitude': '71.8'}",NaN,NaN
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949-01-01T00:00:00.000,44.83333,95.16667,"{'latitude': '44.83333', 'longitude': '95.16667'}",NaN,NaN
7,Agen,392,Valid,H5,30000.0,Fell,1814-01-01T00:00:00.000,44.21667,0.61667,"{'latitude': '44.21667', 'longitude': '0.61667'}",NaN,NaN
8,Aguada,398,Valid,L6,1620.0,Fell,1930-01-01T00:00:00.000,-31.60000,-65.23333,"{'latitude': '-31.6', 'longitude': '-65.23333'}",NaN,NaN
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920-01-01T00:00:00.000,-30.86667,-64.55000,"{'latitude': '-30.86667', 'longitude': '-64.55'}",NaN,NaN
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974-01-01T00:00:00.000,16.39806,-9.57028,"{'latitude': '16.39806', 'longitude': '-9.57028'}",NaN,NaN
11,Aïr,424,Valid,L6,24000.0,Fell,1925-01-01T00:00:00.000,19.08333,8.38333,"{'latitude': '19.08333', 'longitude': '8.38333'}",NaN,NaN
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769-01-01T00:00:00.000,50.66667,2.33333,"{'latitude': '50.66667', 'longitude': '2.33333'}",NaN,NaN
13,Akaba,426,Valid,L6,779.0,Fell,1949-01-01T00:00:00.000,29.51667,35.05000,"{'latitude': '29.51667', 'longitude': '35.05'}",NaN,NaN
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838-01-01T00:00:00.000,29.71667,77.95000,"{'latitude': '29.71667', 'longitude': '77.95'}",NaN,NaN

In [227]:
# Quick review of Meteorite data
print(metorite_data.shape)
print(metorite_data.info())
print(metorite_data.isna().sum())

(45716, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45716 entries, 0 to 45715
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         45716 non-null  object
 1   id                           45716 non-null  int64
 2   nametype                     45716 non-null  object
 3   recclass                     45716 non-null  object
 4   mass                         45585 non-null  float64
 5   fall                         45716 non-null  object
 6   year                         45425 non-null  object
 7   reclat                       38401 non-null  float64
 8   reclong                      38401 non-null  float64
 9   geolocation                  38401 non-null  object
 10  :@computed_region_cbhk_fwbd  1659 non-null   float64
 11  :@computed_region_nnqa_25f4  1659 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 4.5+ MB
None
name                               0
id                                 0
nametype                           0
recclass                           0
mass                             131
fall                               0
year                             291
reclat                          7315
reclong                         7315
geolocation                     7315
:@computed_region_cbhk_fwbd    44057
:@computed_region_nnqa_25f4    44057
dtype: int64

####  Clean Types
Clean up some data types and columns

In [228]:
# The @computed region columns are almost always empty, and we shoudln't need them anyway.  Let's drop both.
metorite_data.drop([':@computed_region_cbhk_fwbd', ':@computed_region_nnqa_25f4'], axis=1, inplace=True)

In [229]:
# The id column looks like a good choice for an index.  Let's make sure it's unique.
print('Rows: ', metorite_data.shape[0])
print('Unique ids: ', metorite_data['id'].nunique())

# Looks good.  Let's make id the index.
metorite_data.set_index('id', inplace=True)
metorite_data.head()

Rows:  45716
Unique ids:  45716

,name,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
id,,,,,,,,,
1,Aachen,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'latitude': '50.775', 'longitude': '6.08333'}"
2,Aarhus,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'latitude': '56.18333', 'longitude': '10.23333'}"
6,Abee,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'latitude': '54.21667', 'longitude': '-113.0'}"
10,Acapulco,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'latitude': '16.88333', 'longitude': '-99.9'}"
370,Achiras,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'latitude': '-33.16667', 'longitude': '-64.95'}"

In [230]:
# The year is a string that is formateted as a date time.  We will just extract the year as the first four characters.
# First let's see if any values will be hard to deal with
print(metorite_data['year'].isna().sum())  ## There are 291 NaN values we will need to handle

# Confirming the month, day, time is always Jan 1, midnight, and we can just strip the year
# print(metorite_data['year'].str[4:].nunique())
# metorite_data['year'] = metorite_data['year'].str[0:4]

# Alternatively, we can converte to datetime and grab the year
metorite_data['year'] = metorite_data['year'].apply(lambda x: datetime.datetime.fromisoformat(x).year if pd.notna(x) else np.nan)
metorite_data['year'] = metorite_data['year'].astype('Int64')
metorite_data.head()

291

,name,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
id,,,,,,,,,
1,Aachen,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"{'latitude': '50.775', 'longitude': '6.08333'}"
2,Aarhus,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"{'latitude': '56.18333', 'longitude': '10.23333'}"
6,Abee,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"{'latitude': '54.21667', 'longitude': '-113.0'}"
10,Acapulco,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"{'latitude': '16.88333', 'longitude': '-99.9'}"
370,Achiras,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"{'latitude': '-33.16667', 'longitude': '-64.95'}"

Categorical data for this dataset is defined as follows:
 - nametype
   - Relict: objects that were once meteorites (meteoritic origin) but are now highly altered by weathering on Earth (dominantly composed of secondary minerals)
   - Valid: all other meteorites
 - recclass
   - See: https://craterexplorer.ca/meteorite-glossary/
 - fall
   - Fell: the delivery of a meteorite to Earth was witnessed, either by humans or their devices
   - Found: all other meteorites

In [237]:
# It looks like nametype, recclass, and fall are categories.  Let's check the values.
print(metorite_data['nametype'].value_counts())
# print(metorite_data['recclass'].value_counts())
print(metorite_data['fall'].value_counts())

# Each is confirmed to be categorical.  We will update the dtypes.
metorite_data['nametype'] = metorite_data['nametype'].astype('category')
metorite_data['recclass'] = metorite_data['recclass'].astype('category')
metorite_data['fall'] = metorite_data['fall'].astype('category')
print(metorite_data.info())

Valid     45641
Relict       75
Name: nametype, dtype: int64
Found    44609
Fell      1107
Name: fall, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45716 entries, 1 to 30414
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   nametype     45716 non-null  category
 2   recclass     45716 non-null  category
 3   mass         45585 non-null  float64
 4   fall         45716 non-null  category
 5   year         45425 non-null  Int64
 6   reclat       38401 non-null  float64
 7   reclong      38401 non-null  float64
 8   geolocation  38401 non-null  object
dtypes: Int64(1), category(3), float64(3), object(2)
memory usage: 2.7+ MB
None

### Data Exploration

In [238]:
# Import visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

metorite_data.head()