# Github respository: meteorite-landings

In [9]:
REFRESH_DATA = False

import numpy as np
import pandas as pd
import os

if REFRESH_DATA:
    # pip install python-dotenv
    # pip install sodapy
    from dotenv import load_dotenv
    from sodapy import Socrata

In [10]:
if REFRESH_DATA:

    # Load .env file using:
    load_dotenv()

    # Use the variable with:
    APP_TOKEN = os.getenv("APP_TOKEN")

    # Unauthenticated client only works with public data sets. Note 'None'
    # in place of application token, and no username or password:
    # client = Socrata("data.nasa.gov", None)

    # Example authenticated client (needed for non-public datasets):
    client = Socrata("data.nasa.gov", APP_TOKEN)

    # Page through results, returned as JSON from API / converted to Python list of
    # dictionaries by sodapy.  This should get all entries (45,716 as of 2021-11-14)
    query_offset = 0
    query_limit = 2000
    query_active = True
    df_pages = []

    while query_active:          
        results = client.get("gh4g-9sfh", limit=query_limit, offset=query_offset)
        results_df = pd.DataFrame.from_records(results)
        df_pages.append(results_df)
        if len(results_df) < query_limit:
            query_active = False
        else:
            query_offset += query_limit

    # Convert to pandas DataFrame
    book_df = pd.concat(df_pages, ignore_index=True)

    # Convert to CSV file
    book_df.to_csv('meteorite-landings.csv')

In [13]:
metorite_data = pd.read_csv('meteorite-landings.csv', index_col=0)
metorite_data.head(25)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'latitude': '50.775', 'longitude': '6.08333'}",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'latitude': '56.18333', 'longitude': '10.23333'}",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'latitude': '54.21667', 'longitude': '-113.0'}",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'latitude': '16.88333', 'longitude': '-99.9'}",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",NaN,NaN
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919-01-01T00:00:00.000,32.10000,71.80000,"{'latitude': '32.1', 'longitude': '71.8'}",NaN,NaN
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949-01-01T00:00:00.000,44.83333,95.16667,"{'latitude': '44.83333', 'longitude': '95.16667'}",NaN,NaN
7,Agen,392,Valid,H5,30000.0,Fell,1814-01-01T00:00:00.000,44.21667,0.61667,"{'latitude': '44.21667', 'longitude': '0.61667'}",NaN,NaN
8,Aguada,398,Valid,L6,1620.0,Fell,1930-01-01T00:00:00.000,-31.60000,-65.23333,"{'latitude': '-31.6', 'longitude': '-65.23333'}",NaN,NaN
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920-01-01T00:00:00.000,-30.86667,-64.55000,"{'latitude': '-30.86667', 'longitude': '-64.55'}",NaN,NaN
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974-01-01T00:00:00.000,16.39806,-9.57028,"{'latitude': '16.39806', 'longitude': '-9.57028'}",NaN,NaN
11,Aïr,424,Valid,L6,24000.0,Fell,1925-01-01T00:00:00.000,19.08333,8.38333,"{'latitude': '19.08333', 'longitude': '8.38333'}",NaN,NaN
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769-01-01T00:00:00.000,50.66667,2.33333,"{'latitude': '50.66667', 'longitude': '2.33333'}",NaN,NaN
13,Akaba,426,Valid,L6,779.0,Fell,1949-01-01T00:00:00.000,29.51667,35.05000,"{'latitude': '29.51667', 'longitude': '35.05'}",NaN,NaN
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838-01-01T00:00:00.000,29.71667,77.95000,"{'latitude': '29.71667', 'longitude': '77.95'}",NaN,NaN
15,Akwanga,432,Valid,H,3000.0,Fell,1959-01-01T00:00:00.000,8.91667,8.43333,"{'latitude': '8.91667', 'longitude': '8.43333'}",NaN,NaN
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981-01-01T00:00:00.000,39.91667,42.81667,"{'latitude': '39.91667', 'longitude': '42.81667'}",NaN,NaN
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957-01-01T00:00:00.000,24.41667,39.51667,"{'latitude': '24.41667', 'longitude': '39.51667'}",NaN,NaN
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001-01-01T00:00:00.000,13.66033,28.96000,"{'latitude': '13.66033', 'longitude': '28.96'}",NaN,NaN
19,Alais,448,Valid,CI1,6000.0,Fell,1806-01-01T00:00:00.000,44.11667,4.08333,"{'latitude': '44.11667', 'longitude': '4.08333'}",NaN,NaN
20,Albareto,453,Valid,L/LL4,2000.0,Fell,1766-01-01T00:00:00.000,44.65000,11.01667,"{'latitude': '44.65', 'longitude': '11.01667'}",NaN,NaN
21,Alberta,454,Valid,L,625.0,Fell,1949-01-01T00:00:00.000,2.00000,22.66667,"{'latitude': '2.0', 'longitude': '22.66667'}",NaN,NaN
22,Alby sur Chéran,458,Valid,Eucrite-mmict,252.0,Fell,2002-01-01T00:00:00.000,45.82133,6.01533,"{'latitude': '45.82133', 'longitude': '6.01533'}",NaN,NaN
23,Aldsworth,461,Valid,LL5,700.0,Fell,1835-01-01T00:00:00.000,51.78333,-1.78333,"{'latitude': '51.78333', 'longitude': '-1.78333'}",NaN,NaN
24,Aleppo,462,Valid,L6,3200.0,Fell,1873-01-01T00:00:00.000,36.23333,37.13333,"{'latitude': '36.23333', 'longitude': '37.13333'}",NaN,NaN